/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --main-font-family: "IBM Plex Mono", sans-serif;
  --color_titles: #000028;
  --accent-color: #ff0070;
  --color: #F1B2CE;
  --main-size-font: 18px;
  --main-headline: #DB00FF;
  --color-disign: #ff0070;
  --icon-visible: visible;
  --content-title: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root {
  --bg-image: url(../images/cover-image-dark.png);
  --main-font-family: "IBM Plex Mono", sans-serif;
  --color_titles: #000028;
  --accent-color: #ff0070;
  --color: #F1B2CE;
  --main-size-font: 18px;
  --main-headline: #DB00FF;
  --color-disign: #ff0070;
  --icon-visible: visible;
  --content-title: #ff0070;
}
}