/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --color_titles: #353430;
  --accent-color: #FF8DCB;
  --color: #353430;
  --main-size-font: 18px;
  --main-headline: #FFC2E6;
  --color-disign: #353430;
  --icon-visible: hidden;
  --content-title: #353430;
  --color-hover: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --color_titles: #353430;
  --accent-color: #FF8DCB;
  --color: #353430;
  --main-size-font: 18px;
  --main-headline: #FFC2E6;
  --color-disign: #353430;
  --icon-visible: hidden;
  --content-title: #353430;
  --color-hover: rgba(50, 49, 45, 0.4);
}
}