.page {
  font-family: var(--main-font-family), Arial, sans-serif;
  font-size: 18px;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.decorated-zone {
  color: var(--color-disign);
}

.decoration-icon {
  position: absolute;
  visibility: var(--icon-visible);
  text-transform: uppercase;
  justify-self: end;
  padding-right: 32px;
  block-size: 26px;
  top: 12px;
  right: 6px;
}

.decoration-icon::after {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  top: 8px;
  right: 10px;
}

.decorated-corner {
  position: relative;
}

.decorated-corner::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--color-disign);
  border-right: 1px solid var(--color-disign);
  right: 10px;
  top: 10px;
}

.decorated-corner::after {
  content: "";
  position: absolute;
  width: 25px; 
  height: 25px;
  border-left: 1px solid var(--color-disign);
  border-bottom: 1px solid var(--color-disign);
  left: 10px;
  bottom: 10px;
}

.header__theme-menu {
  height: 98px;
  justify-self: end;
  font-size: var(--main-size-font);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  width: 70px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-disign);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--color-disign);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-disign);
  pointer-events: none;
}

.cover-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 83%;
  color: var(--main-headline);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  font-size: var(--main-size-font);
  font-weight: bold;
  line-height: 23.4px;
  color: var(--color_titles);
  background-color: var(--accent-color);
}

.content {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.section-content {
  font-size: var(--main-size-font);
  line-height: 23.4px;
  display: grid;

}

.section-content-title {
  color: var(--content-title);
  margin-bottom: 20px;
  font-size: var(--main-size-font);
}

.text-block-title {
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--color);
}

.link:focus {
  border: 1px solid var(--color);
}

.text-block-content {
  color: var(--color);
  font-weight: 400;
  margin-bottom: 20px;
}

.last-paragraph {
  margin-bottom: 0px;
}

.last-title {
  margin-bottom: 20px;
}

.text-block-subtitle {
  background-color: var(--accent-color);
  color: var(--color_titles);
  font-weight: 400;
  margin-bottom: 10px;
}

.gallery-block {
  margin-top: 0;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  gap: 10px;
}

.gallery-item {
  box-sizing: border-box;
}

.gallery-image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
  gap: 10px;
  display: block;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: grid;
  padding: 10px;
}

.footer-title {
  justify-self: center;
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-headline);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 83%;
}

@media (width >= 768px) {
  .header {
    padding: 20px 20px 20px 0px;
  }

  .decorated-corner::after {
    left: 20px;
    bottom: 20px;
  }

  .decorated-corner::before {
    right: 20px;
    top: 20px;
  }

  .decoration-icon {
    padding-right: 34px;
    top: 20px;
    right: 16px;
}

  .cover-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

  .cover__description-text {
    width: 364px;
    justify-self: end;
}

  .content {
    display: grid;
    gap: 80px;
    padding: 60px 20px;
}

  .section-content {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

  .what_reduces_concentration {
  .text-blocks {
    grid-column: 1/ -1;
  }
}

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-block-start: 10px;
}

  .gallery-item:first-of-type {
    grid-column: span 2;
}
  .gallery-item:nth-of-type(2) {
    grid-row: span 2;
}
  .gallery-item:nth-of-type(3) {
    grid-row: span 2;
}
  .gallery-item:last-of-type {
    grid-column: span 2;
}
}

@media (width >= 1024px) {
.header__theme-menu-list {
  flex-direction: row;
  padding-inline-start: 20px;
}

.header__theme-menu {
  justify-self: center;
  align-self: flex-start;
}

.cover__description-text {
  width: 491px;
  justify-self: end;
}

.section-content {
  column-gap: 10px;
}

.column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer-title {
  font-size: 157px;
}
}