/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url(../images/cover-image-dark.png);
  --main-font-family: "IBM Plex Mono", sans-serif;
  --bg-color: #000028;
  --color_titles: #000028;
  --accent-color: #ff0070;
  --color: #F1B2CE;
  --main-size-font: 18px;
  
}

